@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --main-color:  #FF006E;
    --sec-color:  #5C5CC4;
    --acc-color:  #3A405A;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1, h2, h3, .title-text{
    font-weight: 500;
}

.main-text {
    color: var(--main-color);
}
.sec-text {
    color: var(--sec-color);
}
.acc-text {
    color: var(--acc-color);
}

.main-bg {
    background-color: var(--main-color);
}
.sec-bg {
    background-color: var(--sec-color);
}
.acc-bg {
    background-color: var(--acc-color);
}

.nav-fs {
    font-size: 1.3rem;
}

.nav-fs:hover {
    color:var(--sec-color);
}

.above-the-fold {
    min-height:500px;
    background-image: url("/img/header.jpg");
    height:80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

