@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --main-color:  #FF006E;
    --sec-color:  #5C5CC4;
    --acc-color:  #3A405A;
    --white-color: #f8fafc;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    min-height: 100vh;
}

#sticky-footer {
    position: sticky;
    top: 100%;
}

h1, h2, h3,h4,h6,h5, .title-text{
    font-weight: 500;
}

.main-text {
    color: var(--main-color);
}
.presto-text{
    color: var(--white-color);
}
.sec-text {
    color: var(--sec-color);
}
.acc-text {
    color: var(--acc-color);
}

.main-bg {
    background-color: var(--main-color);
}
.presto-bg {
    background-color: var(--white-color);
}
.sec-bg {
    background-color: var(--sec-color);
}
.acc-bg {
    background-color: var(--acc-color);
}

.nav-fs {
    font-size: 1.3rem;
}

.nav-fs:hover {
    color:var(--sec-color);
}

.pallino {
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 10px;
    right: 0px;
}

.above-the-fold {
    min-height:500px;
    background-image: url("/img/header.jpg");
    height:80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.icon-custom:hover {
    transform: translateY(-10px);
    color: var(--main-color);
}

.altezza{
    height: 120vh;
    min-height:500px;
}

.dropzone {
    border: 1px solid #ced4da!important;
    border-color:#ced4da!important;
    border-radius: 5px;
    padding: 0 !important;
    background: white !important;
    min-height: 200px !important;
    width: 100%;
    margin-bottom: 20px;
    line-height: 200px;
    vertical-align: middle;
    color: #263238;
    text-align: center !important;
}

.subfooter-bg{
    background-color: hsl(229,13%, 29%);
}

@media only screen and (min-width: 1440px){
    .altezza {
        height: 130vh;
    }
}
@media only screen and (min-width: 2560px){
    .altezza {
        height: 80vh;
    }
    .nav-fs {
        font-size: 2rem;
    }
    .fs-custom-categories{
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 1024px){
    .icon-custom:hover {
        transform: translateY(0px);
        color: var(--white-color);
    }
}

@media only screen and (max-width: 1024px) {
    .fs-custom-categories{
        font-size: 0.8em;
    }
    .nav-fs {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 768px){
    .nav-fs {
        font-size: 0.9rem;
    }
}
